<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <% if (kindOfDay === 'Weekend 😃') { %>
    <h1 style="color: green">
      it is <%= dayOfWeekName %> which is <%= kindOfDay %> !
    </h1>
    <% } else { %>
    <h1 style="color: red">
      it is <%= dayOfWeekName %> which is <%= kindOfDay %> !
    </h1>
    <% } %>
  </body>
</html>
